/*-----------------CSS RESET------------------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}


-----------------------------------------
body { font-family: 'Ubuntu', sans-serif;
   }
body {
    background-image: url(../images/stylefart.png);

    background-repeat: repeat-x
repeat-y;
   
}


article {   
    width: 75%; 
    max-width: 760px;
    margin: 20px auto;
} 
 /*----------------------typography-------------------------*/
              
 h1, h2, h3, { 
               font-weight: normal;
               line-height: 1.3;
               text-align: right;
}
          
          h1 {font-family: ubuntu;
              font-size: 5em;
padding: 2em 0 1em 0;
text-align: center;
color:black;
}

          h2 {font-family: ubuntu;
              font-size: 2.25em;
              padding: 2em 0 1em 0;
text-align: center;
text-shadow: 4px 4px 10px #aaa;}

 

          h3 {font-family: ubuntu;
              font-size: 1.5em} 

          h6 {padding: 2em 0 2em 0}

header h2 {padding: 1em 0 1em 0;
    font-style: italic;
    font-size: 1.8em;
    line: 1em;
    margin: -0.5em 0 2em 0
    
        }

p {font-family: ubuntu;
    color: black;
    border: dotted white;
    padding: 1.25em;
    margin: 1.5em;
 font-size:1.3em;
line-height: 1.25em;
border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
-moz-border-radious: 1em 4em 1em 4em / 2em 1em 2em 1em;
-webkit-border-radius: 1em 4em 1em 4em /2em 1em 2em 1em;
background-color: rgba(128, 128, 128,0.9);

}

          
    .intro {font-size: 1.25em;
        line-height: 1.25em;
        } 

 

blockquote p {
    display: block;
    border:4px ;
    padding: 1.5em ;
    font-size: 1.75em;
    line-height:1.25em;
    background-color: #333;
    
 
      }
        

blockquote cite {
    font-size: .45em;
    
}
 
.anchor { text-transform: uppercase;
    font-size:0.45em;
    
}

blockquote p {
            color: white;
            hanging-punctuation: first;
            text-indent: -0.5em;
}

blockquote p:hover{ color:#FBCD13;
    -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}


a {
  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;}


.intro{font-size: 1.4em;
color: white}

.album-p {display: inline-block;
    width: ;
padding: }

 .bottom {bottom: 0;
left:0;
     width: 100%;
     font-family: ubuntu; 
     background-color: black;
     width: 100%;
     padding: 4em 16em 4em 14.5em;
     margin-left: -16em;
color:#fbcc13;
     }

  /*---------------------------------NAV--------------------------------------*/


nav { position: fixed; 
    top: 0;
    left:0;
    width:100%;
    background-color: #333;
    padding: 20px;
        color:#FBCD13;
    
      }
   
        
nav ul{ font-family: ubuntu;
    font-size: 1em;
             text-align: center;
             text-transform: uppercase;
    
             letter-spacing: 1px;
   
       }

nav ul li {
    
    display: inline;
   padding: .25em
    }
a {
    color: white;
    font-size: .75em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 a:hover { color: #FBCD13;
     cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
border-bottom: dashed}   



hr {overflow:auto;
    width:140%;
    margin: 0px -135px 20px;
    border: 0;
    border-top: 5px solid rgba(128, 128, 128, 0.7);
}

.hr-top { overflow:auto;
    width:140%; 
    margin: 0px -135px -55px;
    padding: 0em;
border-top: 1px solid rgb(666, 666, 666,)}

/*------------------------images----------------------------*/
img {
       max-width:100%;
       padding: 1em;       
       display: block;
       margin: 1em auto;
}


img:hover {
    -webkit-transform: scale 1.5 ;   
-moz-transition: scale 1.5;      
-o-transition: scale 1.5}
 

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 80%;
  padding: 0;
  margin: 0 10em 0 10em;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 80%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 80%;
  border: 0;
  }


.social {display: inline-block;
align-content: center}
.social:hover{opacity: 0.5; 
    cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}


.logo{position: fixed;
top: 3em;
right:0;}
.logo:hover{opacity: 0.5}


.arrow{opacity: 0.5}
.arrow:hover{opacity: 1.0;
 cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;}

/*------------------ TABLET ----------------------*/
@media (max-width: 50em) {
    
    body {
        /*background: #333;*/
    }
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
    }
    .bottom{margin:-20px;
    padding:2em}
    .social{padding-right: 3em}
} 

/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
    
   body {
    margin: auto 0;
       /*background: #c06;*/
    width: 100%;
    font-size: 110%;
    }
    
article {
    width: 90%;
    } 

h1 {font-size: 2.9em;}
     .intro{font-size: 1em}
     p{font-size: 1em}
blockquote p{font-size: 1em;
    padding: 0.75em;
line-height: 1.5em}  
     
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}  
     
     
     
nav ul li {font-size: .75em;
        margin: 10px;
     }
     .rslides{margin:1px ;
         padding: 0em 0em 0 4em}
     .bottom{font-size: 1em;
         padding: 2em;
     margin:0}
     .social{transform: scale(0.6);
     padding:0;
     margin: 0}
     .logo{top: 5em;
     transform:scale(0.75
     )}
}
